.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vw;
    width: 100vh;

    .title{
        color: $veryDarkCyan;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .calculator{
        width: 700px;
        height: 20%;
        background: $white;
        border-radius: 20px;
        margin-top: 1em;
    }
}
