.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;

    .title{
        color: $veryDarkCyan;
        letter-spacing: 7px;
        font-weight: 700;
        font-style: bold;
        text-align: center;
        font-size: 20px;
    }

    .calculator{
        height: 20%;
        background: $white;
        border-radius: 20px;
        margin-top: 3em;
        display: grid;
        padding: 1.5em 2.5em;
        column-gap: 1em;
        row-gap: 1em;
        .options{

            span{
                font-size: 13px;
                margin: .6em 0;
                color: $veryDarkCyan;
                
            } 

            input{
                width: 80%;
                font-size: 20px;
                background-color: $lCyan;
                border: none;
                border-radius: 10px;
                color: $veryDarkCyan;
                font-weight: 700;

                &:focus{
                    outline-color: $primary;
                }
            }

            .inputs{
                display: flex;
                flex-direction: column;

                div {
                    position: relative;
                    svg{
                        position: absolute;
                        left: .5em;
                        top: .5em;
                    }

                    input{
                        width: 100%;
                        text-align: right;
                        padding: 3px 7px;  
                    }
                }

            }

            .people{
                position: relative;

                .red{
                    color: red;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .morePeople{
                    border: 1px solid red;
                    &:focus{
                        outline-color: red;
                    }
                }
            }

        }

        .results{
            width: 100%;
            height: 100%;
            background-color: $veryDarkCyan;
            border-radius: 15px;
            padding: 2em 1.5em 1em 1.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            min-height: 300px;
            
            div, button{
                width: 100%;
            }


            .info{
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-weight: 700;
                margin-bottom: 1em;
                .text{
                    color: $white;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: left;
                    flex-direction: column;
                    .small{
                        font-size: 12px;
                        color: $grayCyan2;
                    }
                }

                .numbers{
                    color: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                        font-size: 30px;
                        margin-left: 5px;
                    }
                }

            }
            button{
                border: none;
                background-color: lighten($color: $veryDarkCyan, $amount: 7);
                padding: .5em 0;
                font-weight: 700;
                text-transform: uppercase;
                color: $veryDarkCyan;
            }


        }
    }

    .tip{
        margin: 1em 0;
        .buttons{
            margin-top: .7em;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: .5em;
            grid-template-rows: auto auto;
            row-gap: .5em;
            
            div, input {
                width: 100%;
                font-size: 20px;
                border-radius: 3px;
                text-align: center;
                padding: .2em 0;
            }
            
            div{
                background: $veryDarkCyan;
                color: $white;
                cursor: pointer;
                
            }
            
            .active{
                background-color: $lGrayCyan;
                color: $veryDarkCyan;
            }
            
            input{
                text-align: center;
                font-size: 18px;
                padding: 3px 0;
                font-weight: 700;
            }
        }
    }
}
